html,
body {
    height: 100%;
}

body.blank {
    display: flex;
    padding: 40px 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

body.blank .wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: -40px auto;
    padding: 15px;
}

body.blank .wrap > div {
    width: 100%;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*------------------- my css ------------------*/
.sub {
    background: #125e76;
    border: none;
    color: #fff;
}
.sub:hover {
    background: #0b80a5;
}
a.sub {
    color: #fff;
    text-align: center;
}
.help-block {
    color: #ff0101;
    font-size: 12px;
    line-height: 12px;
}
label.control-label {
    font-size: 14px;
}
.bg-dark {
    background-color: #0e8c9c !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
li.dropdown-item.dropdown a {
    color: #000;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none !important;
    background-color: #ffffff;
}
a:hover{text-decoration: none;}
.logout {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
}
.logout {
    color: #fff;
    border: 1px solid #05d8f3;
    border-radius: 6px;
    background: #0e9fb1;
}
label.control-label {
    font-size: 12px !important;
}
label {
    display: inline-block;
    margin-bottom: 0.1rem !important;line-height:normal !important;
}
.form-control {
    height: auto !important;
    padding: 0.1rem 0.1rem !important;
    font-size: .9rem !important;
    line-height: 0.1 !important;
}
.form-group {
    margin-bottom: 0.1rem;
}
textarea.san {
    height: 1.5rem !important;
    padding: 0.5rem !important;
}
.table {
    font-size: 0.9rem !important;line-height: 0.9rem;
}
.table th, .table td {
    padding: 0.3rem;
}
.breadcrumb {
    padding: 0.5rem;margin-bottom: 0.5rem;}
    h1,h2 {
    font-size: 20px;
}
.btn {
    padding: 0.4rem 0.4rem;
    font-size: .9rem;
    line-height: 0.5rem;
}
table.dataTable tbody th, table.dataTable tbody td{
    padding: 0.3rem !important;
}